
.corres-carousel{
  width: calc(100% - 53px);
  position: relative;
  /deep/ {
    .slick-list{
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .slick-arrow{
    position: absolute;
    right: 100%;
    left: auto;
    &.slick-next{
      margin-right: 30px;
    }
    &.slick-next:before, &.slick-prev:before{
          background: #000;
    border-radius: 50%;
    }
  }
}
  .slide{
    a{
      color: #898c91;
          display: inline-block;
          padding: 2px 7px;
          border-radius: 26px;
          cursor: pointer;
          outline: none;
      &.active {
          background: #fff;
          box-shadow: -0.523px 5.977px 0px 0px rgba(76, 117, 158, 0.03);
      }
    }
    &-name{
      text-transform: capitalize;
    }
    &-number{
      background-color: #fff;
      border-radius: 50%;
      padding: 3px;
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      position: relative;
          bottom: 2px;
    }
  }
}
    .breadcrumb{padding: 0px;
        margin: 0px;
        background-color: transparent;
        float: right;
        width: 80% !important;
        > li{
          float:right;
          padding-right: 10px;
          & > a{color:#000;
             text-decoration: none;
             font-weight: bolder;
             font-size: 30px;
          }
        }
         li:last-child{
           color:#8f9094;
           font-weight:700;
           line-height: 3 !important;
           }
        }

        


.slide-number{
  .new &{
    color:#03d977
  }
  .assigned &{
    color: #e567f9;
  }
  .waiting &{
    color: #fe9c00;
  }
  .delayed &{
    color: #fb2932;
  }
}
.active{
  &.new {
    color:#03d977 !important;
  }
  &.assigned {
    color: #e567f9 !important;
  }
  &.waiting {
    color: #fe9c00 !important;
  }
  &.delayed {
    color: #fb2932 !important;
  }
}

.filter-menu-trigger{
  font-weight: bold;
}