<div class="container-fluid main-content">
  <div class="row p-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for=""> select template</label>
        <select formControlName="degreeOfConfidentiality" name="" id="" class="form-control">
          <option value="asdsda">asdasdasd</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Search for Correspondences</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Search for Tasks</label>
        </div>
      </div>
    </div>
  </div>
  <hr/>


  <div class="row p-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for=""> query name</label>
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="col-md-6 p-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="searchIn" id="inlineRadio3" value="option1">
          <label class="form-check-label" for="inlineRadio3">Search In Archive</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="searchIn" id="inlineRadio4" value="option2">
          <label class="form-check-label" for="inlineRadio4">Search in User Folders</label>
        </div>
      </div>
    </div>
  </div>



  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
         role="tab" aria-controls="home" aria-selected="true">Output</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
         aria-selected="false">conditions</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Output</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">conditions</div>
  </div>
</div>