<form [formGroup]="prepareLetterForm">
	<div class="row align-items-center">
		<div class="col-md-6">
			<div class="form-group">
				<mat-form-field>
				  <mat-select placeholder="{{'selectLetterTemplate'| translate: lang}}" formControlName="template">
				    
				    <mat-option value="قاليب" >قاليب</mat-option>
				    <mat-option value="قاليب" >قاليب</mat-option>
				  </mat-select>
				</mat-form-field>
				
			</div>
		</div>
		<div class="col-md-6 text-right"><div class="form-group">
			<div class="btn btn-primary" (click)="letterPreview()">{{'previewLetter' | translate: lang}}</div>
		</div></div>
	</div>
	<ckeditor formControlName="content"> </ckeditor>
	<div class="mt-4">
		<label for="">: {{'needSigningFrom' | translate: lang}}</label>
		<div>
			<mat-radio-group formControlName="needSigningFrom">
				<mat-radio-button value="1"><b>احمد مجدي</b></mat-radio-button>
				<mat-radio-button value="2">بلال جابر</mat-radio-button>
				<mat-radio-button value="3">الاء ابراهيم</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</form>