<div class="tasks-container">
	<div *ngIf="tasks.length <= 0" class="text-center no-content">
		<div><span class="icon-no-task"></span></div>
		<p>{{'noTasks'| translate: lang}}</p>
		<div>
			<div class="btn btn-outline-primary btn-block" (click)="addTask = true">إنشاء مهمة جديدة</div>
		</div>
	</div>
	<div [formGroup]="tasksForm" class="{{addTask ? 'add-task-container show' : 'add-task-container' }}">
		<div class="add-task">
			<div class="clearfix">
				<a  class="close" (click)="addTask = false"><i class="fa fa-times"></i></a>
			</div>
			
			<div class="row align-items-end">
				<div class="col-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
						    <input matInput formControlName="name" id="staticEmail" placeholder="{{'task.name'| translate: lang}}">
					  	</mat-form-field>

					
					
					</div>
				</div>
				<div class="col-6 text-right">
					<div class="form-group">
						<a  (click)="addAttachment = true" class="btn btn-outline-primary"><i class="fa fa-paperclip"></i>{{'add.attachment'| translate: lang}}  </a>
					</div>
				</div>
			</div>
			<div class="form-group">
				{{'individual'| translate: lang}}  <mat-slide-toggle> {{'collective'| translate: lang}} </mat-slide-toggle>
			</div>
			<div class="form-group">
				<mat-form-field>
				  <mat-select placeholder="{{'performer'| translate: lang}}" formControlName="perfomer">
				    <mat-option>None</mat-option>
				    <mat-option value="option1">Option 1</mat-option>
				    <mat-option value="option2">Option 2</mat-option>
				    <mat-option value="option3">Option 3</mat-option>
				  </mat-select>
				</mat-form-field>
				
			</div>
			
			<div class="form-group">
				<mat-form-field>
				  <mat-select placeholder="{{'priority'| translate: lang}}" formControlName="priority2">
				    <mat-option>None</mat-option>
				    <mat-option value="option1">Option 1</mat-option>
				    <mat-option value="option2">Option 2</mat-option>
				    <mat-option value="option3">Option 3</mat-option>
				  </mat-select>
				</mat-form-field>
				
			</div>
			<div class="form-group row">
				<div class="col-md-6">
					<label for="">{{'task.dueDate'| translate: lang}}</label>
					  <!-- <app-hijri-date [rangeSelect]="false" [monthsToShow]="1"></app-hijri-date> -->
				</div>
				<div class="col-md-6">
					<label for=""> {{'task.dueTime'| translate: lang}}</label>
					  <!-- <app-hijri-date [rangeSelect]="false" [monthsToShow]="1"></app-hijri-date> -->
				</div>
			</div>
			<div class="form-group">
				<label for="">{{'source'| translate: lang}}...</label>
				
			</div>
			<div class="form-group">
				<label for="">{{'Observation'| translate: lang}}</label>
				
			</div>
			<div class="form-group">
				<label for="">{{'description'| translate: lang}}</label>
				
			</div>
			<div class="form-group text-center">
				<div class="btn btn-primary" (click)="addTasks()"> {{'create.task'| translate: lang}}</div>
			</div>
		</div>
		<div class="{{addAttachment ? 'add-attachment show' : 'add-attachment' }}">
			<div class="clearfix">
				<a  class="close" (click)="addAttachment = false"><i class="fa  fa-chevron-right"></i></a>
			</div>
			<app-attachments></app-attachments>
		</div>
	</div>
	<div *ngIf="tasks.length > 0">
		
		 <app-data-table [tableInfo]="correspondencesTable"
                        [_status]="_status" [showHeader]="false" [showFooter]="false">
        </app-data-table>
	</div>
</div>