<div class="tasks-container">
	<div *ngIf="tasks.length <= 0" class="text-center no-content">
		<div><span class="icon-no-task"></span></div>
		<p>لا يوجد مهام قم بإنشاء اول مهمة</p>
		<div>
			<div class="btn btn-outline-primary btn-block" (click)="addTask = true">إنشاء مهمة جديدة</div>
		</div>
	</div>
	<div class="{{addTask ? 'add-task-container show' : 'add-task-container' }}">
		<div class="add-task">
			<div class="clearfix">
				<a  class="close" (click)="addTask = false"><i class="fa fa-times"></i></a>
			</div>
			
			<div class="row align-items-end">
				<div class="col-6">
					<div class="form-group"><label for="">اسم المهمة</label>
						<input type="text" class="form-control" id="staticEmail">
					</div>
				</div>
				<div class="col-6 text-right">
					<div class="form-group">
						<a  (click)="addAttachment = true" class="btn btn-outline-primary"><i class="fa fa-paperclip"></i> إضافة مرفقات</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				فردي <mat-slide-toggle> جماعي </mat-slide-toggle>
			</div>
			<div class="form-group">
				<label for="">المؤدى</label>
				<select name="" id="" class="form-control"></select>
			</div>
			
			<div class="form-group">
				<label for="">الاهمية</label>
				<select name="" id="" class="form-control">
					<option value="">مهم جدا</option>
				</select>
			</div>
			<div class="form-group row">
				<div class="col-md-6">
					<label for="">تاريخ التسليم</label>
					  <input type="text" class="date-picker form-control"/>
				</div>
				<div class="col-md-6">
					<label for="">وقت التسليم</label>
					  <input type="text" class="date-picker form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label for="">المصدر...</label>
				
			</div>
			<div class="form-group">
				<label for="">مراقبة</label>
				
			</div>
			<div class="form-group">
				<label for="">وصف</label>
				
			</div>
			<div class="form-group text-center">
				<div class="btn btn-primary" (click)="addTasks()">إنشاء المهمة</div>
			</div>
		</div>
		<div class="{{addAttachment ? 'add-attachment show' : 'add-attachment' }}">
			<div class="clearfix">
				<a  class="close" (click)="addAttachment = false"><i class="fa  fa-chevron-right"></i></a>
			</div>
			<app-attachments></app-attachments>
		</div>
	</div>
	<div *ngIf="tasks.length > 0">
		
		 <app-data-table [tableInfo]="correspondencesTable"
                        [_status]="_status" [showHeader]="false" [showFooter]="false">
        </app-data-table>
	</div>
</div>