<div class="container-fluid main-content">
	<div class="d-flex mt-3">
	  <h4 class="mr-auto"><span class="icon-related"></span>{{'correspondence.create' | translate: lang}}</h4>
	  <div class="filter-wrapper d-flex align-items-center">
	   <ul class="list-inline">
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle"
				  (click)="send()"
				  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-corres-send"></span> {{'action.send' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-save"></span> {{'action.save' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-archive"></span> {{'action.archive' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-print"></span> {{'action.print' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-export"></span> {{'action.export' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item dropdown">
			   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				   <span class="icon-close"></span> {{'action.close' | translate: lang}}
			   </a>
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				   <a class="dropdown-item" href="#">Action</a>
			   </div>
		   </li>
		   <li class="list-inline-item">
			   <a href="#">
				   <span class="icon-clone"></span> {{'action.clone' | translate: lang}}
			   </a>
		   </li>
	   </ul>
	  </div>
	</div>
	<!--end actions-->



	<div class="new-corres">
		<ul class="nav " id="myTab" role="tablist">
			<li class="nav-item" *ngFor="let tab of newCorrespondenceTabs; let i = index">
				<a class="nav-link" [ngClass]="{'active': tab.active}" (click)="activeTab(i)" id="{{tab.title}}-tab" data-toggle="tab" href="#{{tab.title}}"
				   role="tab" [attr.aria-controls]="tab.title" [attr.aria-selected]="tab.active">{{tab.title | translate: lang}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'mainInfo'}" id="mainInfo" role="tabpanel" aria-labelledby="mainInfo-tab">
				<app-main-info [(newCorrespondenceForm)] = "newCorrespondenceForm" [errors]="errors"></app-main-info>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'attachments'}" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
				<app-attachments ></app-attachments>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'tasks'}" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
				<app-tasks [(newCorrespondenceForm)] = "newCorrespondenceForm" [errors]="errors"></app-tasks>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'correspondence.related'}" id="related" role="tabpanel" aria-labelledby="related-tab">
				<app-related></app-related>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'history'}" id="history" role="tabpanel" aria-labelledby="history-tab">
				<app-history></app-history>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'redirect'}" id="redirect" role="tabpanel" aria-labelledby="redirect-tab">
				<app-redirect ></app-redirect>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'prepareLetter'}" id="prepare" role="tabpanel" aria-labelledby="prepare-tab">
				<app-prepare-letter [newCorrespondenceForm]="newCorrespondenceForm"></app-prepare-letter>
			</div>
			<div class="tab-pane" [ngClass]="{'active': currentTab === 'form-sample'}" id="form-sample" role="tabpanel" aria-labelledby="form-sample">
				<app-form-sample></app-form-sample>
			</div>
		</div>
	</div> <!--end tabs-->
</div>
