<div class="row">
  <div class="col-lg-12 selecteOptionsHeader">
    <div class="">
      <!-- <div class="border_left hidden-xs"></div> -->
      <h4>اختر التوجيه</h4>
      <!-- <div class="border_right"></div> -->
    </div>
  </div>
  <div class="col-lg-12 selectedOptions">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of selectedOptions; let i=index" [removable]="true" (removed)="deSelect(item.option, i)">
        {{item.option}}
        <i matChipRemove class="fa fa-close"  (click)="deSelect(item.option, i)"></i>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-lg-6 form-group" *ngFor="let item of instractionOptions; let i=index">
    <mat-checkbox [checked]="item.selected" (change)="onSelect(item, i)">{{item.option}}</mat-checkbox>
  </div>

  <div class="col-lg-12 footer">
    <button mat-raised-button color="primary" (click)="done()">ok</button>
  </div>
</div>
