.footer{
  border-top: 1px solid #f1e7e7;
  margin-top: 20px; padding-top: 10px;
}
.mat-raised-button {
  background: #24AF7D; border-radius: 20px;
}
.selectedOptions{margin-bottom: 20px;}
.selecteOptionsHeader{text-align: center; font-weight: 600; font-size: 16px; margin-bottom: 20px;}
