
              
      <div class="container-fluid main-content">
        <div class="d-flex my-3">
                    <ul class="breadcrumb">
              <li><a href="#">المراسلات</a></li>
              <li><img src="assets/images/left-arr.png" /> الجديد </li>
              </ul>
           
        </div>
 
        <ngx-slick class="corres-carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let status of statuses; let i = index" class="slide">
                  <a  (click)="corresActive(i,status.en)" class="{{status.en}} {{corresIndex == i ? 'active' : null}}">
                  	<span class="slide-name">{{status.ar}}</span>
                  	<span class="slide-number">{{dashboardStatus(status.en).length}}</span>
                  </a>
            </div>
        </ngx-slick>


       <app-table [DashboardData]="DashboardData" [_status]="_status" [showHeader]="true" [showFooter]="true" ></app-table>
        
      </div>



<div class="modal fade" id="preview-template" tabindex="-1" role="dialog" aria-labelledby="preview-template" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">استعراض القالب</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/preview.JPG" class="img-fluid">
      </div>
     
    </div>
  </div>
</div>