 <div id="container-floating">
  <div class=" floating-wrapper ">
  
  <div class=" nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it">
    <p>إختر قالب</p>
   <div class="templates-container">
    <ul>
        <li><a routerLink="/corres-new">قالب 1</a></li>
      <li><a routerLink="/corres-new">قالب 2</a></li>
      <li><a routerLink="/corres-new">قالب 3</a></li>
      <li><a routerLink="/corres-new">قالب 4</a></li>
      <li><a routerLink="/corres-new">قالب 5</a></li>
    </ul>
    </div>
  </div>
  </div>
  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>
</div>