<div id="new" class="{{showCheckBox() ? 'showCheckBox' : null}}">
         <div class="mt-2">
          <div class="table-header" *ngIf="showHeader">
                  <div class="d-flex align-items-center">
                          
                    <div class="table-header-item">
                        
                       <ul>
                           <li><a href="#" data-toggle="tooltip" title="Trash"><img src="assets/images/trash.png"></a></li>
                           <li><a href="#" data-toggle="tooltip" title="Forward"><img src="assets/images/forward.png"></a></li>
                           <li><span>اختيار الكل</span><input class="check-all" (change)="checkAll($event)"  [checked]="isAllChecked()" type="checkbox"></li>
                      </ul>
                    </div>
                   
                  </div>
                 </div>
            
          <div class="table-responsive">
              <table class="table table-condensed table-main" style="border-collapse:collapse">
  
                <thead>
                    <tr>
                        <th style="width: 55px"  *ngIf="showHeader"></th>
                    	<th (click)="orderTable('priority')" class="table-filter  text-center">الاهمية  <i class="fa {{faSort('priority')}}"></i></th>
                        <th (click)="orderTable('title')" class="table-filter">العنوان  <i class="fa {{faSort('title')}}"></i></th>
                        <th (click)="orderTable('sender')" class="table-filter">المرسل <i class="fa {{faSort('sender')}}"></i></th>
                        <th (click)="orderTable('date')" class="table-filter">التاريخ <i class="fa {{faSort('date')}}"></i></th>
                        <th (click)="orderTable('number')" class="table-filter">الرقم <i class="fa {{faSort('number')}}"></i></th>
                        <th>الإجراءات ذات الصلة</th>
                        <th (click)="orderTable('template.name')" class="table-filter">القالب <i class="fa {{faSort('template.name')}}"></i></th>
                        <th></th>
                    </tr>
                </thead>
  
                <tbody *ngFor="let data of DashboardData | filterBy: ['status']: _status | orderBy : _orderBy | paginate: { itemsPerPage: _itemsPerPage, currentPage: _currentPage }">
                <tr data-toggle="collapse" attr.data-target="#row{{data.index}}" class="accordion-toggle collapsed">
                        <td  *ngIf="showHeader">
                        	<input type="checkbox"  [(ngModel)]="data.selected"  class="table-check" id="data._id"  (click)="checkRow($event,data,data.selected);$event.stopPropagation()">
                        </td>

                      <td>
                        <span class="priority priority-{{priority(data.priority)}}" title="priority-{{data.priority}}">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                        </span>
                      </td>
                      <td>{{data.title}}</td>
                      <td>{{data.sender}}</td>
                      <td>{{data.createdDate | date :'d MMMM yyyy'}}</td>
                      <td>{{data.number}}</td>
                    <td> 
                      <span *ngFor="let action of data.relatedActions ; let i = index" class="{{i > 2 ? 'd-none' : null}} mr-3">
                        <i class="icon-{{action}}"></i>
                      </span>
                      <span *ngIf="data.relatedActions.length > 2"> ...</span>
                    </td>
                    <td> {{data.template[0].name}}</td>
                    <td>
                      <div class="dropleft">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                      <td colspan="8" class="hiddenRow"><div id="row{{data.index}}" class="accordian-body collapse" data-parent="#new">
                        <div class="table-details-full">
                          <h3>{{data.title}}</h3>
                          <div class="row">
                            <div class="col-3">
                              <label for="">المرسل:</label>
                              <p>{{data.sender}} </p>
                              <label for="">الى:</label>
                              <p>{{data.to}}</p>
                              <label for="">نسخة كربونية:</label>
                              <p>{{data.cc}}</p>
                              <label for="">تحتاج إجراء:</label>
                              <p>{{data.needAction ? 'نعم' : 'لا'}}</p>
                            </div>
                            
                            <div class="col-3">
                              <label for="">تاريخ الانشاء :</label>
                              <p>{{data.createdDate | date:'shortDate'}} </p>
                              <label for="">تاريخ :</label>
                              <p>{{data.createdDate | date:'shortDate'}}</p>
                              <label for="">اجراءات متعلقة:</label>
                              <p>
                                <span class="mr-3" *ngFor="let action of data.relatedActions">
                                  <i class="icon-{{action}}"></i>
                                </span>
                              
                              </p>
                              <label for="">كلمات:</label>
                              <p>{{data.keyords}}</p>
                            </div>

                            <div class="col-3">
                              <label for="">رقم:</label>
                              <p>{{data.number}} </p>
                              <label for="">قالب:</label>
                              <p>{{data.template[0].name}}</p>
                              <label for="">وصف مختصر:</label>
                              <p>{{data.shortDesc}}</p>
                              
                            </div>

                            <div class="col-3">
                              <label for="">تعليمات التوجيه:</label>
                              <p>{{data.redirectInst}} </p>
                              <label for="">تعليقات التوجيه:</label>
                              <p>{{data.redirectComment}}</p>
                              <a href="#" data-toggle="modal" data-target="#preview-template" class="btn btn-primary mt-3 preview-t">استعراض القالب</a>
                            </div>
                            
                          </div>
                        </div>
                      </div></td>
                  </tr>
                  
                    
                </tbody>
            </table>
          </div>
              

              
          <div class="table-footer" *ngIf="showFooter">
           <div class="d-flex align-items-center">
            <pagination-controls 
                previousLabel=""
                nextLabel=""
                autoHide="true"
                (pageChange)="_currentPage = $event;uncheckAll()">
            </pagination-controls>
            <select class="pl-4" #itemsPerPage (change)="changeItemsPerPage(itemsPerPage.value)">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <p class="m-0 pl-1">عناصر بالصفحة</p>
           </div>
          </div>
                          
           
         </div>
         
        
       </div>