#signature-pad, #signature-pad canvas {position:relative; display: block; max-width: 200px; overflow: hidden;
  border: 1px solid #e8e3e3 !important; background: #F5F6FA;}
.signatureActions{display: block;}
.signatureActions i{cursor: pointer;}