<div class="row">
	<div class="col-md-6" style="min-height: 500px">
	    <file-drop headertext="Drop files to upload" (onFileDrop)="dropped($event)" 
	    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
	        <i class="icon-upload"></i>
	        <!-- <input type="file" (change)="uploadOnClick($event)"> -->
	    </file-drop>
	    		<!--  -->
	    	
	    <div class="upload-table">
	        
<!-- {{files | json}} -->
	                <div class="d-flex align-items-center" *ngFor="let item of files; let i=index">
	                    <div class="d-flex align-items-center mr-auto">
	                    	<i class="icon-attachment"></i>
		                    <div>
		                    	<div class="file-name">{{ item.relativePath }}</div>
		                    	<div class="file-date" [(ngModel)]="item.modDate" ngDefaultControl>{{ modifiedDate | date }}</div>
		                	</div>
	                	</div>
	                	<ul class="list-inline m-0">
	                		<li class="list-inline-item"><a href="#"><span class="icon-eye"></span></a></li>
	                		<li class="list-inline-item"><a  (click)="showInfo(item)"><span class="icon-info"></span></a></li>
	                		<li class="list-inline-item"><a href="#"><span class="icon-trash"></span></a></li>
	                	</ul>
	                </div>

	    </div>
	</div>
	<div class="col-md-6 bg-gray py-3">
		<div *ngIf="info"> 
			<h5>General info</h5>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
					    <label  class="col-sm-3 col-form-label">Type</label>
					    <div class="col-sm-9">
					      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

					    </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
					    <label  class="col-sm-3 col-form-label">Owner</label>
					    <div class="col-sm-9">
					           <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

					    </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
					    <label  class="col-sm-3 col-form-label">size</label>
					    <div class="col-sm-9">
					    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

					    </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
					    <label  class="col-sm-3 col-form-label">modified</label>
					    <div class="col-sm-9">
					    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

					    </div>
					</div>
				</div>
			</div>
			<hr>
			<h5>Version</h5>
			<div class="form-group row">
			    <label  class="col-sm-3 col-form-label">V01</label>
			    <div class="col-sm-9">
			    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

			    </div>
			</div>
			<div class="form-group row">
			    <label  class="col-sm-3 col-form-label">V01</label>
			    <div class="col-sm-9">
			    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="data">

			    </div>
			</div>
			<hr>
			<h5>Privileges </h5>
			<mat-form-field class="example-chip-list">
				
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
					<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
						{{fruit.name}}
					</mat-option>
				</mat-autocomplete> 
				<mat-chip-list #chipList>
					<div class="form-control"><input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
						 [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"/></div>
					<mat-chip *ngFor="let fruit of fruits;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit,indx)">
						{{fruit.name}}
						<i class="fa fa-close" matChipRemove *ngIf="removable"></i>
					</mat-chip>
					
				</mat-chip-list>
			</mat-form-field>
			<hr>
			<mat-slide-toggle>View to all</mat-slide-toggle>
		</div>
	</div>
</div>