<div class="row">
	<div class="col-md-6">{{'individual' | translate: lang}}
		<mat-slide-toggle [checked]="sendGroup" (change)="sendOptionChanged($event)"> {{'collective' | translate: lang}}</mat-slide-toggle>
		<div class="categoriesContainer">
			<mat-accordion>
				<mat-expansion-panel *ngFor="let category of categories; let i = index">
					<mat-expansion-panel-header [ngClass]="{'selected' : category.selected}">
						<mat-panel-title>
							<mat-checkbox [checked]="category.selected" (change)="toggleCategory(category)">{{category.name}}</mat-checkbox>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" *ngFor="let department of category.departments; let j=index">
								<mat-checkbox [checked]="department.selected" (change)="toggleDepartment(category, department)">
									{{department.name}}
								</mat-checkbox>
								<div class="row" *ngIf="!sendGroup && department.selected && department.multipleSendFields">
									<div class="col-lg-6 form-group" [ngClass]="{
                    'multipleSendCheckbox' : field.type === 'checkbox', 'col-lg-12': field.type === 'textArea' }"
										 *ngFor="let field of department.multipleSendFields; let fieldIndex= index">
										<label for="" *ngIf="field.type !== 'checkbox'">{{field.name}}</label>
										<input *ngIf="field.type === 'text' && !field.instraction"
											   type="text" class="form-control" (keyup)="updateFieldValue($event.target.value, fieldIndex, i, j)">

										<input *ngIf="field.type === 'date'" (change)="updateFieldValue($event.target.value, fieldIndex, i, j)"
											   type="date" class="form-control">

										<input *ngIf="field.type === 'text' && field.instraction"
											   [value]="field.value || ''"
											   (click)="openInstractionPopUp(fieldIndex, i, j)" type="text" class="form-control">

										<mat-checkbox *ngIf="field.type === 'checkbox'"
													  (change)="updateFieldValue($event.checked, fieldIndex, i, j)">
											{{field.name}}
										</mat-checkbox>
										<textarea class="form-control" (keyup)="updateFieldValue($event.target.value, fieldIndex, i, j)"
												  *ngIf="field.type === 'textArea'"></textarea>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<div class="row mulipleSendInputs" *ngIf="sendGroup">
			<div class="col-sm-12 mulipleSendInputsTitle">{{'multiSend' | translate: lang}}</div>
			<div class="form-group" *ngFor="let field of multipleSendFields; let fieldIndex= index"
				 [ngClass]="{'multipleSendCheckbox' : field.type === 'checkbox',
           'col-lg-6': field.type !== 'textArea',
           'col-lg-12': field.type === 'textArea'}">
				<label for="" *ngIf="field.type !== 'checkbox'">{{field.name}}</label>
				<input *ngIf="field.type === 'text' && !field.instraction" type="text" class="form-control">
				<input *ngIf="field.type === 'text' && field.instraction" (click)="openInstractionPopUp()" type="text" class="form-control">

				<input *ngIf="field.type === 'date'" type="date" class="form-control">
				<mat-checkbox *ngIf="field.type === 'checkbox'">{{field.name}}</mat-checkbox>
				<textarea class="form-control" *ngIf="field.type === 'textArea'"></textarea>
			</div>
		</div>
		<app-redirect-add-other-contacts [sendGroup]="sendGroup" (addContactEvent)="onSelectedContactsChanged($event)"></app-redirect-add-other-contacts>
	</div>
	<div class="col-md-6  bg-gray py-3 selectedDataPreview">
		<app-redirect-preview [categories] ="categories" [sendGroup] ='sendGroup' (deleteDepartmentEvent)="deleteDepartment($event)"></app-redirect-preview>
	</div>
</div>
