<div class="row align-items-center">
	<div class="col-md-6">
		<div class="form-group">
			<label for="">select letter template</label>
			<select name="" id="" class="form-control">
				<option value="">letter template</option>
			</select>
		</div>
	</div>
	<div class="col-md-6 text-right"><div class="btn btn-primary">Preview letter</div></div>
</div>

<ckeditor [editor]="Editor" data="<p>Hello world!</p>"></ckeditor>

<div class="mt-4">
	<label for="">need signing from</label>
	<div>
		<mat-radio-group>
		  <mat-radio-button value="1">Mohamed Ali</mat-radio-button>
		  <mat-radio-button value="2">Ahmed Magdy</mat-radio-button>
		  <mat-radio-button value="3">Belal Gaber</mat-radio-button>
		</mat-radio-group>
	</div>
</div>