  <app-header></app-header>
              
    <div class="main">

     <app-side-menu></app-side-menu>
              
      <div class="container-fluid main-content">
        <div class="d-flex my-3">
          <h2 class="mr-auto">Home</h2>
          <div class="filter-wrapper d-flex align-items-center">

            <label class="switch d-flex mx-3">
            <span>Personal</span>
                 <input type="checkbox">
                 <span>
                     <strong></strong>
                 </span>
            <span>Department</span>
             </label>
             <div class="category mx-3">
               <select name="" class="form-control">
                 <option value="">All Departments</option>
                 <option value=""> Departments</option>
                 <option value="">All </option>
               </select>
             </div>
             <div class="filter-date ml-3">
               <div id="reportrange" class="form-control">
                   <span></span> 
                   <i class="fa fa-calendar"></i>&nbsp;
               </div>
             </div>
          </div>
        </div>

       <ul class="nav nav-fill main-tabs" id="myTab" role="tablist">
         <li class="nav-item large">
           <a class="nav-link clearfix d-flex align-items-center active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">
             <span class="tab-detail">
              <p class="number">18</p>
                <span class="icon-new"></span>
                <p class="tab-name">new</p>
                <p>Correspondence </p> 
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div> 
             </span>
             <div class="tab-chart">
               <canvas id="newChart" width="320" height="130"></canvas>

             </div>
           </a>
         </li> 
         <li class="nav-item">
           <a class="nav-link clearfix d-flex align-items-center" id="done-tab" data-toggle="tab" href="#done" role="tab" aria-controls="done" aria-selected="false">
             <span class="tab-detail">
              <p class="number">18</p>
                <span class="icon-done"></span>
                <p class="tab-name">Done</p>
                <p>Correspondence </p>  
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
             </span>
             <span class="tab-chart">
               <canvas id="doneChart" width="320" height="130"></canvas>
             </span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link clearfix d-flex align-items-center" id="waiting-tab" data-toggle="tab" href="#waiting" role="tab" aria-controls="waiting" aria-selected="false">
             <span class="tab-detail">
              <p class="number">18</p>
                <span class="icon-assigned"></span>
                <p class="tab-name">assigned</p>
                <p>Correspondence </p>  
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
             </span>
             <span class="tab-chart">
               <canvas id="waitingChart" width="320" height="130"></canvas>
               
             </span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link clearfix d-flex align-items-center" id="assigned-tab" data-toggle="tab" href="#assigned" role="tab" aria-controls="assigned" aria-selected="false">
             <span class="tab-detail">
              <p class="number">18</p>
                <span class="icon-waiting"></span>
                <p class="tab-name">waiting</p>
                <p>Correspondence </p>  
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25% </div>
                </div>
             </span>
             <span class="tab-chart">
               <canvas id="assignedChart" width="320" height="130"></canvas>
               
             </span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link clearfix d-flex align-items-center" id="delayed-tab" data-toggle="tab" href="#delayed" role="tab" aria-controls="delayed" aria-selected="false">
             <span class="tab-detail">
              <p class="number">18</p>
                <span class="icon-delayed"></span>
                <p class="tab-name">delayed</p>
                <p>Correspondence </p>  
                <div class="progress">
                </div>
             </span>
             <span class="tab-chart">
               <canvas id="delayedChart" width="320" height="130"></canvas>
               
             </span>
           </a> 
         </li>
       </ul>
       <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="home-tab">

            
              <div class="table-responsive">
  <table class="table table-condensed table-main" style="border-collapse:collapse">
  
                <thead>
                    <tr><th>Priority  </th>
                        <th>Subject </th>
                        <th>Sender</th>
                        <th>dATE</th>
                        <th>nUMBER</th>
                        <th>rELATED aCTIONS</th>
                        <th>tEMPLATE</th>
                        <th></th>
                    </tr>
                </thead>
  
                <tbody *ngFor="let data of DashboardData">
                <tr data-toggle="collapse" attr.data-target="#row{{data.index}}" class="accordion-toggle collapsed">
                      <td>
                        <span class="priority priority-{{data.priority}}"><span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                      </td>
                      <td>Test need action from preview</td>
                      <td>{{data.sender}}</td>
                      <td>{{data.createdDate | date :'d MMMM yyyy'}}</td>
                      <td>{{data.number}}</td>
                    <td> <span><i class="fa"></i></span>
                    <span><i class="fa"></i></span>
                    <span><i class="fa"></i></span></td>
                    <td> Internal treatment</td>
                    <td>
                      <div class="dropleft">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                      <td colspan="8" class="hiddenRow"><div id="row{{data.index}}" class="accordian-body collapse" data-parent="#new">
                        <div class="table-details-full">
                          <h3>Test need action from preview</h3>
                          <div class="row">
                            <div class="col-3">
                              <label for="">sender:</label>
                              <p>Mina ,Finance Management </p>
                              <label for="">to:</label>
                              <p>Mina3 ,Nour  </p>
                              <label for="">cc:</label>
                              <p>Ezzat ,Mina3 ,Nour  </p>
                              <label for="">Need Action  :</label>
                              <p>No</p>
                            </div>
                            <div class="col-3">
                              <label for="">sender:</label>
                              <p>Mina ,Finance Management </p>
                              <label for="">to:</label>
                              <p>Mina3 ,Nour  </p>
                              <label for="">cc:</label>
                              <p>Ezzat ,Mina3 ,Nour  </p>
                              <label for="">Need Action  :</label>
                              <p>No</p>
                            </div>
                            <div class="col-3">
                              <label for="">sender:</label>
                              <p>Mina ,Finance Management </p>
                              <label for="">to:</label>
                              <p>Mina3 ,Nour  </p>
                              <label for="">cc:</label>
                              <p>Ezzat ,Mina3 ,Nour  </p>
                              <label for="">Need Action  :</label>
                              <p>No</p>
                            </div>
                            <div class="col-3">
                              <label for="">sender:</label>
                              <p>Mina ,Finance Management </p>
                              <label for="">to:</label>
                              <p>Mina3 ,Nour  </p>
                              <label for="">cc:</label>
                              <p>Ezzat ,Mina3 ,Nour  </p>
                              <label for="">Need Action  :</label>
                              <p>No</p>
                            </div>
                          </div>
                        </div>
                      </div></td>
                  </tr>
                  
                    
                </tbody>
            </table>
</div>
              

              
              <div class="table-footer">
   <div class="d-flex">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
      </ul>
    </nav>

   </div>
  </div>
              
           
         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">asd.</div>
         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
       </div>
        
      </div>
    </div>
    

<router-outlet></router-outlet>
