<div class="table-header">
  <div class="d-flex align-items-center">
    <div class="table-header-item mr-auto">
      <ul>
        <li *ngFor="let action of actions">
          <a data-toggle="tooltip" role="button"
             title="{{action.title | translate: lang}}" (click)="actionEventClicked(action)"><img [src]="action.icon" alt="{{action.title}}"></a>
        </li>
        <li>
          <mat-checkbox class="check-all" [labelPosition]="labelPosition" id="selectAll" (change)="checkAll($event)"
                        [checked]="isAllChecked">{{'selectAll' | translate: lang}}</mat-checkbox>
        </li>
      </ul>
    </div>
    <div class="table-header-search">
     
       <mat-form-field class="example-full-width">
         <input matInput placeholder="{{'search' | translate: lang}}" (keyup)="searchStringEnter($event.target.value)">
       </mat-form-field>
    </div>
  </div>
</div>
