<div class="login-cont">
       <div class="login-head">
       <img src="assets/images/logo-arrow.png" />
         </div>
         <div class="login-wrap">
           
           <div class="login-form">
              <img src="assets/images/logo-main.jpg" />

           <div class="form-group">
             <mat-form-field class="full-width">
                <input matInput placeholder="إسم المستخدم">
              </mat-form-field>
           </div>
           <div class="form-group">
             <mat-form-field class="full-width">
                <input matInput placeholder="كلمة السر " type="password">
              </mat-form-field>
           </div>
           <div class="form-group">
             <mat-form-field class="full-width">
                <input matInput placeholder="النطاق  ">
              </mat-form-field>
           </div>
            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-select placeholder="select language">
                  <mat-option  value="arabic">
                    arabic
                  </mat-option>
                  <mat-option  value="english">
                    english
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
             <div class="form-group">
               <mat-checkbox>تذكرني </mat-checkbox>
             </div>
             <div class="form-group">
               <mat-checkbox>إجبار الدخول </mat-checkbox>
             </div>
                
               
                
                <div class="login-btn"> <a href="http://localhost:9000/home.html" >Login</a></div>    
      
           </div>
           
           <div class="login-footer">
              <p>2014 - 2018 © Asset Technology Group. All rights reserved.</p>
             </div>
         
           </div>
           
      </div>