<div class="login-cont" *ngIf="!authorized">
    <div class="login-head"><img src="assets/images/logo-arrow.png"/></div> 
    <div class="login-wrap">
        <form class="login-form" name="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>       
                <div class="text-center">
                    <img src="assets/images/mcs-logo.png"/>
                </div>
                <p class="help-class error-login-msg" *ngIf="!domainInvalid && !invalidUser && invalidUserNameOrPass">{{'1001' | translate: lang}}</p>
                <p class="help-class error-login-msg" *ngIf="domainInvalid && !invalidUser && !invalidUserNameOrPass">{{'1005' | translate: lang}}</p>
                <p class="help-class error-login-msg" *ngIf="invalidUser && !domainInvalid && !invalidUserNameOrPass">{{'1004' | translate: lang}}</p>

                <div class="form-group">
                    <mat-form-field class="full-width">
                        <input formControlName="userName" matInput placeholder="{{'userName' | translate: lang}}">
                    </mat-form-field>
                    <span class="error" *ngIf="!form.userName.valid && submitted">{{'userNameRequired' | translate: lang}}</span>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="password"  placeholder="{{'password' | translate: lang}}" type="password">
                    </mat-form-field>
                    <span class="error" *ngIf="!form.password.valid && submitted">{{'passwordRequired' | translate: lang}}</span>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{'domain' | translate: lang}}" formControlName="domainPrefix">
                    </mat-form-field>
                    <span class="error" *ngIf="!form.domainPrefix.valid && submitted">{{'domainRequired' | translate: lang}}</span>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-select formControlName="lang" placeholder="{{'language' | translate: lang}}" (selectionChange)="setLocal($event)">
                            <mat-option value="ar">{{'arabic' | translate: lang}}</mat-option>
                            <mat-option value="en">{{'english' | translate: lang}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-checkbox formControlName="rememberMe">{{'rememberMe' | translate: lang}}</mat-checkbox>
                </div>
                <div class="form-group">
                    <mat-checkbox formControlName="forceLogin">{{'forceLogin' | translate: lang}}</mat-checkbox>
                </div>
               
                <div >
                <button class="login-btn" [disabled]="!loginForm.valid" type="submit">
                     <div [ngClass]="{'loginBtnLoading': loadingLogin}">
                    <app-spinner *ngIf="loadingLogin" ></app-spinner>
                    <span [ngClass]="{'loginLoading': loadingLogin}"> {{'login' | translate: lang}}</span> 
                    </div> 
               </button>
            </div>
        </form>
        <div class="login-footer">
            <p>2014 - 2018 © {{'assetCopy' | translate: lang}}.</p>
        </div>
    </div>
</div>