$primary-color:rgb(48,138,201) ;
$secondary-color:#6cbf55;
$third-color:#25b4bc;
$primary-menu-color:rgb(48,138,201);



/deep/ {
	.mat-menu-item .icon{
		margin-left: 16px;
		vertical-align: middle;
	    color: rgba(0,0,0,.54);
	}
	.mat-mini-fab{
		width: 35px	!important;height: 35px	!important;
	}
	.mat-button-wrapper{
		padding: 0	!important;
	}
	.table td, .table th{
		vertical-align: middle;
	}
}
.mat-spinner{margin: 30% auto;}

.bg-white{
	background: #fff;
	height: 100%;
	/deep/ {
		.mt-2{
			margin-top: 0 !important;
		}
		.table-header, .table-footer{
			box-shadow: none;
		}
	}

}
