.mat-form-field{display: block; position: relative; width: 100%;}
.mat-form-field, .mat-slide-toggle{ margin: 10px; font-size: 15px;}
.mat-radio-button{ margin: 10px;}


form{max-width: 1300px; position: relative; display: block; margin: 3% auto; border: 1px solid #e8d9d9;
  padding: 30px 20px; background: #fff;}
form h3{ text-align: center; position: relative; margin-bottom: 50px; font-weight: bold;}
form .row{ margin-bottom: 20px;}

.userSubstitustions > div:nth-child(1){ font-weight: 600 !important; font-size: 16px; margin: 10px; text-align: center;}
.userSubstitustions{ padding: 0 20px;}