<aside>
        <ul class="side-menu">
          <li class="active"><a href="#" class="home">home</a>
            <ul>
              <li><a href="#"><img src="assets/images/report.svg" alt="">reports</a></li>
              <li><a href="#"><img src="assets/images/dashboard.svg" alt="">dashboard</a></li>
              <li><a href="#"><img src="assets/images/custom.svg" alt="">custom report</a></li>
            </ul>
          </li>
          <li><a href="#" class="correspondence">correspondence</a></li>
          <li><a href="#" class="address">address book</a></li>
          <li><a href="#" class="reports">reports</a></li>
          <li><a href="#" class="search">search</a></li>
          <li><a href="#" class="tasks">tasks</a></li>
          <li><a href="#" class="monitor">monitor</a></li>
        </ul>
      </aside>