<aside>
        <ul class="side-menu">
          <li [routerLinkActive]="['active']"><a  routerLink="/home"  class="home">الرئيسية</a>
            <ul>
              <li><a href="#"><span class="icon-Shape-1083-1"></span> تقارير</a></li>
              <li><a href="#"><span class="icon-Forma-1-copy-6"></span> تقارير</a></li>
              <li><a href="#"><span class="icon-Shape-1083"></span>تقارير معدلة</a></li>
            </ul>
          </li>
          <li [routerLinkActive]="['active']"><a routerLink="/corres"  class="correspondence">مراسلات</a></li>
          <li><a href="#" class="address">دفتر عناوين</a></li>
          <li><a href="#" class="reports">تقارير</a></li>
          <li><a href="#" class="search">بحث</a></li>
          <li><a href="#" class="tasks">مهام</a></li>
          <li><a href="#" class="monitor">متابعة</a></li>
        </ul>
      </aside>