/deep/ {
	.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,.mat-slide-toggle-thumb{
		    background-color: #25c088;
	}
	.mat-slide-toggle-bar,.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
		    background-color: #fff;
    box-shadow: 0 0 3px 2px #ccc;
	}
	.bg-gray{
	background: #f8f8f8;
	margin-top: -15px;
	margin-bottom: -15px;
}
.mat-form-field{
	width: 100%;
}
.mat-form-field .mat-form-field-underline{
	display: none;

}
.mat-radio-outer-circle,.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, {
    border-color: #747474;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
	background-color: #747474;
}
.mat-radio-button{
	margin-left: 15px;
}
.ck.ck-content {
    min-height: 290px;
}
.hidden{
	visibility: hidden;
}
}
a{
	color: #000;
}

.new-corres{
	.nav{
		background-color: #25c088;
		padding-right: 10px;
		padding-left: 10px;
		a{
			color: #fff;
			opacity: .8;
			&.active{
			opacity: 1;
				    border-bottom: 2px solid #fff;
			}
 
		}
	}
	.tab-content{
		background-color: #fff;
		margin-top: 0;
		padding: 15px;
	}
}