 <div id="container-floating">
  <div class=" floating-wrapper ">
  
  <div class=" nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it">
    <p>Select Template</p>
   <div class="templates-container">
    <ul>
        <li><a routerLink="/new-corres">Internal Treatment</a></li>
      <li><a routerLink="/new-corres">Issued</a></li>
      <li><a routerLink="/new-corres">Internal Treatment</a></li>
      <li><a routerLink="/new-corres">Issued</a></li>
      <li><a routerLink="/new-corres">Sample Archive</a></li>
     
    </ul>
    </div>
   
  </div>
  </div>
  


  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>

</div>