.priority{
	&-1 > span, &-2 > span{
		background-color: #fd4242;
	}
	&-3 > span, &-4 > span{
		background-color: #ffae00;
	}
	&-5 > span, &-6 > span{
		background-color: #0f72d7;
	}
	&-7 > span{
		background-color: #dadde1;
	}
}

.table-footer{
	select{
		background-color: transparent;
		border:0;
		color: #00dc77;
	}
	/deep/ .ngx-pagination{
		margin-bottom: 0;
		padding: 0;
		li{
			a{
				outline: none;
				&:hover{
					background-color: transparent;
					text-decoration: none;
				}
			}
			&.current{
				background: #00dc77;
				border-radius: 50%;
			}
			&.disabled{
				opacity: 0;
			}
			&.pagination-next a, &.pagination-previous a {
				color: #00dc77;
			}
		}
	}
}

.preview-t{
	background-image: url(../../assets/images/preview-t.png);
	background-repeat: no-repeat;
	background-position: 92%;
	padding: 0.6rem 0.8rem;
	padding-right: 45px;
	border-radius: 20px;
}

