
              
      <div class="container-fluid main-content">
        <div class="d-flex my-3">
          <h2 class="mr-auto">الرئيسية</h2>
          <div class="filter-wrapper d-flex align-items-center">

            <label class="switch d-flex mx-3">
            <span>شخصي</span>
                 <input type="checkbox">
                 <span>
                     <strong></strong>
                 </span>
            <span>إدارة</span>
             </label>
             <div class="category mx-3">
               <select name="" class="form-control">
                 <option value="">جميغ الإدارات</option>
                 <option value=""> Departments</option>
                 <option value="">All </option>
               </select>
             </div>
             <div class="filter-date ml-3">
              بالتاريخ
               <input type="text" class="date-range">
             </div>
          </div>
        </div>

       <ul class="nav nav-fill main-tabs" id="myTab" role="tablist">
         <li class="nav-item" *ngFor="let status of statuses; let i = index" >
           <a class="nav-link clearfix d-flex align-items-center " attr.aria-controls="{{status.en}}" id="{{status.en}}-tab" data-toggle="tab" href="#{{status.en}}" role="tab"  aria-selected="true" (click)="changeStatus(status.en)">
             <span class="tab-detail">
              <p class="number">{{dashboardStatus(status.en).length}}</p>
                <span class="icon-{{status.en}}"></span>
                <p class="tab-name">{{status.ar}}</p> 
                <p>مراسلات</p> 
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width]="dashboardStatus(status.en).length / DashboardData.length * 100 + '%'"  aria-valuemin="0" aria-valuemax="100">{{dashboardStatus(status.en).length / DashboardData.length * 100}}%</div>
                </div> 
             </span>
             <div class="tab-chart">
               <canvas id="{{status.en}}Chart" width="320" height="130" attr.data-priority="{{dashboardStatusPrioriy(status.en)}}"></canvas>

             </div>
           </a>
         </li> 
         
       </ul>
       <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="home-tab">

           <app-table [DashboardData]="DashboardData" [_status]="_status" [showFooter]="true"></app-table> 
          
              

              
          
                          
           
         </div>

       </div>
        
      </div>



<div class="modal fade" id="preview-template" tabindex="-1" role="dialog" aria-labelledby="preview-template" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">استعراض القالب</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/preview.JPG" class="img-fluid">
      </div>
     
    </div>
  </div>
</div>