<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label for="">العنوان</label>
			<div class="form-control-plaintext">تحتاج للمتابعة</div>
		</div>
	</div>
	<div class="col-md-6">
		
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="">رقم المعاملة</label>
					<input type="text" value="546513245" class="form-control"/>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="">العنوان</label>
					<input type="date" class="form-control date-control">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label for="">العنوان</label>
			<select name="" id="" class="form-control">
				<option value="asdsda">asdasdasd</option>
			</select>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="">العنوان</label>
			<div class="form-control-plaintext">تحتاج للمتابعة</div>
		</div>
	</div>
</div>