@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field-appearance-legacy .mat-form-field-infix {
    border-top-width: 1px;
    padding: 0;
}
.dataItem{}
.dataItem > span:nth-child(1){font-weight: 600;}


/**** to fix inject template ui issues ************/


html, body{padding: 0 !important; margin: 0 !important;}
// a {border: none !important;}
body, td, input, select, textarea {
    font-size: 14px !important;
    //font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}





.loadingContainer{
    position: relative; margin: 0 auto; text-align: center;
}


.title_style h2 {display: inline-block;padding: 0 15px; font-size: 16px;}
.title_style .border_left {display: inline;position: relative;}
.title_style .border_left:before {
    content: '';
    display: inline-block;
    border-bottom: 1px solid gray;
    width: 80px;
    position: relative;
    top: -11px;
}
.title_style .border_left:after {
    content: '';
    display: inline-block;
    border-bottom: 1px solid black;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 0;
}
.title_style .border_right {
    display: inline;
    position: relative;
}
.title_style .border_right:before {
    content: '';
    display: inline-block;
    border-bottom: 1px solid gray;
    width: 80px;
    position: relative;
    top: -3px;
}
.title_style .border_right:after {
    content: '';
    display: inline-block;
    border-bottom: 1px solid black;
    width: 20px;
    position: absolute;
    bottom: 13px;
    left: 0;
}


/****************** animations ***************/
.zoomIn{
    animation: zoominoutsinglefeatured .3s ;
}
@keyframes zoominoutsinglefeatured {
    0% { transform: scale(.5); }
    100% { transform: scale(1); }
}
/*
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}*/
