@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.new-corres{
	.nav{
		background-color: #25c088;
		padding-right: 10px;
		padding-left: 10px;
		a{
			color: #fff;
			opacity: .8;
			&.active{
			opacity: 1;
				    border-bottom: 2px solid #fff;
			}
 
		}
	}
	.tab-content{
		background-color: #fff;
		margin-top: 0;
		padding: 15px;
	}
}