<form [formGroup]="mainInfoForm" >
	<div class="row">
		<div class="col-12 text-right mb-3">
			<span class="mr-3">
				المرسل: احمد مجدي
			</span>
			<span>
				تاريخ التعديل: 25 صفر 1430
			</span>
		</div>
	</div>
<div class="row">
	<div class="col-md-5 mr-auto">
		<div class="form-group">
			<mat-form-field class="example-full-width">
			    <input matInput readonly placeholder="{{'address'| translate: lang}}" value="{{'needObserve'| translate: lang}}">
			  </mat-form-field>
			<!-- <label for="">{{'address'| translate: lang}}</label>
			<b class="form-control-plaintext"> {{'needObserve'| translate: lang}}</b> -->
		</div>
	</div>
	<div class="col-md-5">
		
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<mat-form-field class="example-full-width">
					    <input matInput  placeholder="{{'number'| translate: lang}}" formControlName="corresNumber" value="546513245">
					  </mat-form-field>
					<!-- <label for=""> {{'number'| translate: lang}}</label>
					<input type="text" formControlName="corresNumber" value="546513245" class="form-control"/> -->
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for=""> {{'corres.date' | translate: lang}}</label>
					<input type="date" formControlName="corresDate" class="form-control date-control">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5 mr-auto">
		<div class="form-group">
			<mat-form-field>
			  <mat-select placeholder="{{'unit'| translate: lang}}" formControlName="unit">
			    <mat-option>None</mat-option>
			    <mat-option value="option1">Option 1</mat-option>
			    <mat-option value="option2">Option 2</mat-option>
			    <mat-option value="option3">Option 3</mat-option>
			  </mat-select>
			</mat-form-field>
			
		</div>
	</div>
	<div class="col-md-5">
		<div class="form-group">
			<mat-form-field>
			  <mat-select placeholder="{{'degreeOfConfi'| translate: lang}}" formControlName="degreeOfConfidentiality">
			    <mat-option>None</mat-option>
			    <mat-option value="option1">Option 1</mat-option>
			    <mat-option value="option2">Option 2</mat-option>
			    <mat-option value="option3">Option 3</mat-option>
			  </mat-select>
			</mat-form-field>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5 mr-auto">
		<div class="form-group">
			<mat-form-field>
			  <mat-select placeholder="{{'priority'| translate: lang}}" formControlName="priority">
			    <mat-option>None</mat-option>
			    <mat-option value="option1">Option 1</mat-option>
			    <mat-option value="option2">Option 2</mat-option>
			    <mat-option value="option3">Option 3</mat-option>
			  </mat-select>
			</mat-form-field>
			
		</div>
	</div>
	<div class="col-md-5">
		<div class="form-group keywords-wrapper">
			<label for="">{{'keywords'| translate: lang}}</label>
			<mat-form-field class="example-chip-list">
			  <mat-chip-list #chipList>
			    <mat-chip *ngFor="let keyword of keywords"
		    			[selectable]="selectable"
			            [removable]="removable"
			            (removed)="remove(keyword)">
			      {{keyword}}
			      <i matChipRemove class="fa fa-close" *ngIf="removable"></i>
			    </mat-chip>
			    <input #keywordInput
			    		[matChipInputFor]="chipList"
			    		formControl="keywordInputs"
			    		[formControl]="keywordCtrl"
		    			[matAutocomplete]="auto"
			           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			           [matChipInputAddOnBlur]="addOnBlur"
			           (matChipInputTokenEnd)="add($event)">
			  </mat-chip-list>
			  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			      <mat-option *ngFor="let keyword of availableKeywords | async " [value]="keyword">
			        {{keyword}}
			      </mat-option>
			    </mat-autocomplete>
			</mat-form-field>
		</div>
	</div> 
</div>
</form>
<div>
	<label for="">{{'template'| translate: lang}}: issued</label>
	<input id="image-file" type="file" value="import" webkitdirectory mozdirectory multiple (change)="importTemplates($event)" />
	<app-correspondence-template [templateFiles]="selectedTemplate.fileList"></app-correspondence-template>
</div>
<!--<img src="assets/images/template-prev.jpg" style="width: 100%;" alt="">-->