
<div class="row">
	<div class="col-md-6" style="min-height: 500px">
		<app-file-uploader [uploader]="uploader" [lang]="lang" (uploaders)="handleUploaders($event)" [uploadId]="'attachmentInput'" ></app-file-uploader>

		  
		<div class="upload-table">
				<div class="d-flex align-items-center" *ngFor="let item of files; let i=index">
						<div class="d-flex align-items-center mr-auto">
							<i class="icon-attachment"></i>
								<div>
									<div class="file-name">{{item.name }}</div>
									<div *ngIf="!uploader.queue[i].isUploaded" class="progress-bar progress-bar-success" [ngStyle]="{ 'width': uploader.queue[i].progress + '%', 'height': '5px' }"  placement="bottom"></div>
									 <div *ngIf="uploader.queue[i].isUploaded" class="file-date"  >{{item.lastModifiedDate | date  }}</div>
								</div>
										
									</div>
									<ul class="list-inline m-0">
										<li class="list-inline-item"><a (click)="previewImage(item, i)"><span class="icon-eye"></span></a></li>
										<li class="list-inline-item"><a  (click)="showFileDetails(item, i)"><span class="icon-info"></span></a></li>
										<li class="list-inline-item"><a (click)="deleteFile(i, item)"><span class="icon-trash"></span></a></li>
									</ul>
								</div>
					</div>
	</div>
	<div class="col-md-6 bg-gray py-3">
		<div class="attachment-container">
			
			<div *ngIf="!info && !showImage" class="text-center no-content">
				<div>
					<span class="icon-info-big"></span>
				</div>
				<p>{{'chooseFileToView' | translate: lang}}</p>
			</div>
			<div *ngIf="!info && showImage">
					<span class="icon-upload" (click)="downloadFile(selectedFile)">download</span>
				<h5>{{'attachmentPreview' | translate: lang}}</h5>
				<img width="580" height="300" [src]="sanitizer.bypassSecurityTrustUrl(localImageUrl)">	
		    </div>
			<div *ngIf="info && !showImage"> 
				<h5>{{'fileDetails' | translate: lang}}</h5>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
						    <label  class="col-sm-3 col-form-label">{{'type' | translate: lang}}</label>
						    <div class="col-sm-9">
						      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{detailsObj.type}}">
			
						    </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
						    <label  class="col-sm-3 col-form-label">{{'owner' | translate: lang}}</label>
						    <div class="col-sm-9">
						           <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="احمد مجدى">
			
						    </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
						    <label  class="col-sm-3 col-form-label">{{'size' | translate: lang}}</label>
						    <div class="col-sm-9">
									  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="bytes {{detailsObj.size/1024 | number}} ">
			
						    </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="formz-group row">
						    <label  class="col-sm-3 col-form-label">{{'modifiedDate' | translate: lang}}</label>
						    <div class="col-sm-9">
						    	<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{detailsObj.lastModifiedDate  | date}}">				   
						    </div>
						</div>
					</div>
				</div>
				<hr>
				<h5>{{'versions' | translate: lang}}</h5>
				<div *ngIf="info">
				<div class="form-group row"  *ngFor="let version of selectedFile.versions">
						<input type="radio" [checked]="version === selectedVersion" (click)="changeSelectedVersion(version)">
				    <label  class="col-sm-3 col-form-label"> </label>
					<input type="text" (click)="select(version)" readonly class="form-control-plaintext" id="staticEmail" value="{{version.name }}">

					<div class="col-sm-9">
				    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{version.lastModifiedDate | date}}">
				    </div>
				</div>
				<input type="file" (change)="importVersion($event)" ng2FileSelect [uploader]="versionUploader" multiple  /><br/>

			</div>
				<div class="form-group row">
				    <div class="col-sm-9">
				    	      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedFile._date | date}}">
				    </div>
				</div>
				<hr>
				<h5>{{'AccessRights' | translate: lang}} </h5>
				<mat-form-field class="example-chip-list">
					
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
						<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
							{{fruit.name}}
						</mat-option>
					</mat-autocomplete> 
					<mat-chip-list #chipList>
						<div class="form-control"><input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
							 [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"/></div>
						<mat-chip *ngFor="let fruit of fruits;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit,indx)">
							{{fruit.name}}
							<i class="fa fa-close" matChipRemove *ngIf="removable"></i>
						</mat-chip>
						
					</mat-chip-list>
				</mat-form-field>
				<hr>
				<mat-slide-toggle>{{'viewAll' | translate: lang}}</mat-slide-toggle>
			</div>
		</div>
	</div>
</div>