.preview-t{
  background-image: url(../../../../../assets/images/preview-t.png);
  background-repeat: no-repeat;
  background-position: 92%;
  padding: 0.6rem 0.8rem;
  padding-right: 45px;
  border-radius: 20px;
}
